@import "../../styles/variables.scss";

.block {
  max-height: 800px;
}

.blockContent {
  margin-top: $space-md;
  padding: $space-lg $space-xl;
  background: $color-white05;
  border: 1px solid $color-white20;
  border-radius: $space-sm;
  overflow-y: auto;
}
