@import "../../../styles/variables.scss";

.joke {
  display: flex;
  flex-direction: column;
  gap: $space-md;

  .jokeCategories {
    display: flex;
    gap: $space-md;
  }

  .jokeCategory {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    background: $color-white40;
    padding: $space-xs $space-lg;
    border-radius: $space-sm;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
