$space-xs: 2px;
$space-sm: 4px;
$space-md: 8px;
$space-lg: 16px;
$space-xl: 24px;
$space-2xl: 48px;

$color-main: rgb(15 131 240);
$color-main05: rgb(15 131 240 / 0.05);
$color-main20: rgb(15 131 240 / 0.2);
$color-main40: rgb(15 131 240 / 0.4);
$color-main60: rgb(15 131 240 / 0.6);
$color-main80: rgb(15 131 240 / 0.8);

$color-dark: rgb(24 37 56 / 1);
$color-dark05: rgb(24 37 56 / 0.05);
$color-dark20: rgb(24 37 56 / 0.2);
$color-dark40: rgb(24 37 56 / 0.4);
$color-dark60: rgb(24 37 56 / 0.6);
$color-dark80: rgb(24 37 56 / 0.8);

$color-white: rgb(248 248 248 / 1);
$color-white05: rgb(248 248 248 / 0.05);
$color-white20: rgb(248 248 248 / 0.2);
$color-white40: rgb(248 248 248 / 0.4);
$color-white60: rgb(248 248 248 / 0.6);
$color-white80: rgb(248 248 248 / 0.8);
